Service References/DataPikoClient/service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://developer.piko.com/PikoDataServices/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceDataPiko" targetNamespace="http://developer.piko.com/PikoDataServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://developer.piko.com/PikoDataServices/Imports">
      <xsd:import namespace="http://developer.piko.com/PikoDataServices/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://developer.piko.com/PikoDataService/Data/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PikoDataService.DB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PikoTrafficManager.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceDataPiko_GetVideoInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoInfo" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVideoInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVideoSegmentInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoSegmentInfo" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVideoSegmentInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoSegmentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVideoSegmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoSegmentList" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVideoSegmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideoSegmentListResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetDeviceList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceList" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetDeviceList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVideo" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVideoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SaveVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVideo" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SaveVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVideoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CreateVideo_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVideo" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CreateVideo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVideoResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetBlocks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBlocks" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetBlocks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBlocksResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SaveBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBlock" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SaveBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBlockResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_ExportBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportBlock" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_ExportBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportBlockResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_LoadBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadBlock" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_LoadBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadBlockResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteBlock_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlock" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteBlock_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBlockResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetPlaylists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylists" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetPlaylists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlaylistsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SavePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePlaylist" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_SavePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_ExportPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportPlaylist" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_ExportPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_LoadPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadPlaylist" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_LoadPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeletePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylist" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeletePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfig" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetRemoteConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteConfig" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetRemoteConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemoteConfigResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CheckSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSystem" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CheckSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSystemResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVolumeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeData" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetVolumeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CreateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_CreateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_AddTemplateField_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateField" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_AddTemplateField_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateFieldResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_AddTemplateFieldToCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateFieldToCategory" />
  </wsdl:message>
  <wsdl:message name="ServiceDataPiko_AddTemplateFieldToCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTemplateFieldToCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceDataPiko">
    <wsdl:operation name="GetVideoInfo">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoInfo" message="tns:ServiceDataPiko_GetVideoInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoInfoResponse" message="tns:ServiceDataPiko_GetVideoInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoSegmentInfo">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoSegmentInfo" message="tns:ServiceDataPiko_GetVideoSegmentInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoSegmentInfoResponse" message="tns:ServiceDataPiko_GetVideoSegmentInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoSegmentList">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoSegmentList" message="tns:ServiceDataPiko_GetVideoSegmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVideoSegmentListResponse" message="tns:ServiceDataPiko_GetVideoSegmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetChannels" message="tns:ServiceDataPiko_GetChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetChannelsResponse" message="tns:ServiceDataPiko_GetChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceList">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetDeviceList" message="tns:ServiceDataPiko_GetDeviceList_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetDeviceListResponse" message="tns:ServiceDataPiko_GetDeviceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVideo">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteVideo" message="tns:ServiceDataPiko_DeleteVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteVideoResponse" message="tns:ServiceDataPiko_DeleteVideo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVideo">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SaveVideo" message="tns:ServiceDataPiko_SaveVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SaveVideoResponse" message="tns:ServiceDataPiko_SaveVideo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVideo">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CreateVideo" message="tns:ServiceDataPiko_CreateVideo_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CreateVideoResponse" message="tns:ServiceDataPiko_CreateVideo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBlocks">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetBlocks" message="tns:ServiceDataPiko_GetBlocks_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetBlocksResponse" message="tns:ServiceDataPiko_GetBlocks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBlock">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SaveBlock" message="tns:ServiceDataPiko_SaveBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SaveBlockResponse" message="tns:ServiceDataPiko_SaveBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportBlock">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/ExportBlock" message="tns:ServiceDataPiko_ExportBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/ExportBlockResponse" message="tns:ServiceDataPiko_ExportBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadBlock">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/LoadBlock" message="tns:ServiceDataPiko_LoadBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/LoadBlockResponse" message="tns:ServiceDataPiko_LoadBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBlock">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteBlock" message="tns:ServiceDataPiko_DeleteBlock_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteBlockResponse" message="tns:ServiceDataPiko_DeleteBlock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlaylists">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetPlaylists" message="tns:ServiceDataPiko_GetPlaylists_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetPlaylistsResponse" message="tns:ServiceDataPiko_GetPlaylists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePlaylist">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SavePlaylist" message="tns:ServiceDataPiko_SavePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/SavePlaylistResponse" message="tns:ServiceDataPiko_SavePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportPlaylist">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/ExportPlaylist" message="tns:ServiceDataPiko_ExportPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/ExportPlaylistResponse" message="tns:ServiceDataPiko_ExportPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadPlaylist">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/LoadPlaylist" message="tns:ServiceDataPiko_LoadPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/LoadPlaylistResponse" message="tns:ServiceDataPiko_LoadPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePlaylist">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeletePlaylist" message="tns:ServiceDataPiko_DeletePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeletePlaylistResponse" message="tns:ServiceDataPiko_DeletePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfig">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetConfig" message="tns:ServiceDataPiko_GetConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetConfigResponse" message="tns:ServiceDataPiko_GetConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemoteConfig">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetRemoteConfig" message="tns:ServiceDataPiko_GetRemoteConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetRemoteConfigResponse" message="tns:ServiceDataPiko_GetRemoteConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSystem">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CheckSystem" message="tns:ServiceDataPiko_CheckSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CheckSystemResponse" message="tns:ServiceDataPiko_CheckSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVolumeData">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVolumeData" message="tns:ServiceDataPiko_GetVolumeData_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetVolumeDataResponse" message="tns:ServiceDataPiko_GetVolumeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetCategories" message="tns:ServiceDataPiko_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/GetCategoriesResponse" message="tns:ServiceDataPiko_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CreateCategory" message="tns:ServiceDataPiko_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/CreateCategoryResponse" message="tns:ServiceDataPiko_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteCategory" message="tns:ServiceDataPiko_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/DeleteCategoryResponse" message="tns:ServiceDataPiko_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTemplateField">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/AddTemplateField" message="tns:ServiceDataPiko_AddTemplateField_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/AddTemplateFieldResponse" message="tns:ServiceDataPiko_AddTemplateField_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTemplateFieldToCategory">
      <wsdl:input wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/AddTemplateFieldToCategory" message="tns:ServiceDataPiko_AddTemplateFieldToCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://developer.piko.com/PikoDataServices/ServiceDataPiko/AddTemplateFieldToCategoryResponse" message="tns:ServiceDataPiko_AddTemplateFieldToCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceDataPiko">
    <wsdl:port name="NetTcpBinding_ServiceDataPiko" binding="i0:NetTcpBinding_ServiceDataPiko">
      <soap12:address location="net.tcp://localhost:9010/ServiceDataPiko/ServiceDataPiko" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9010/ServiceDataPiko/ServiceDataPiko</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>