Service References/DataPikoClient/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://developer.piko.com/PikoDataService/Data/" elementFormDefault="qualified" targetNamespace="http://developer.piko.com/PikoDataService/Data/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PikoTrafficManager.Data" />
  <xs:complexType name="SupportData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Eom" type="xs:int" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:long" />
      <xs:element minOccurs="0" name="FrameRate" type="tns:FrameRate" />
      <xs:element minOccurs="0" name="FullPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategory" type="xs:int" />
      <xs:element minOccurs="0" name="IsExist" type="xs:boolean" />
      <xs:element minOccurs="0" name="TcStart" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="TemplateFields" nillable="true" type="tns:ArrayOfTemplateFieldValueData" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UIdSupport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupportData" nillable="true" type="tns:SupportData" />
  <xs:simpleType name="FrameRate">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25000</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NTSC">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30000</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NTSC_DROP">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30001</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FrameRate" nillable="true" type="tns:FrameRate" />
  <xs:complexType name="ArrayOfTemplateFieldValueData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFieldValueData" nillable="true" type="tns:TemplateFieldValueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFieldValueData" nillable="true" type="tns:ArrayOfTemplateFieldValueData" />
  <xs:complexType name="TemplateFieldValueData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldDefinition" nillable="true" type="tns:TemplateFieldData" />
      <xs:element minOccurs="0" name="IdValue" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateFieldValueData" nillable="true" type="tns:TemplateFieldValueData" />
  <xs:complexType name="TemplateFieldData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldType" type="tns:TemplateFieldType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFieldCategory" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TemplateFieldData" nillable="true" type="tns:TemplateFieldData" />
  <xs:simpleType name="TemplateFieldType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Text" />
      <xs:enumeration value="Picture" />
      <xs:enumeration value="Video" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TemplateFieldType" nillable="true" type="tns:TemplateFieldType" />
  <xs:complexType name="ArrayOfPlaylistData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaylistData" nillable="true" type="tns:PlaylistData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylistData" nillable="true" type="tns:ArrayOfPlaylistData" />
  <xs:complexType name="PlaylistData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Elements" nillable="true" type="tns:ArrayOfPlaylistElementData" />
      <xs:element minOccurs="0" name="PlaylistFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlaylistType" type="tns:PlayListType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaylistData" nillable="true" type="tns:PlaylistData" />
  <xs:complexType name="ArrayOfPlaylistElementData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaylistElementData" nillable="true" type="tns:PlaylistElementData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylistElementData" nillable="true" type="tns:ArrayOfPlaylistElementData" />
  <xs:complexType name="PlaylistElementData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedLong" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PikoTrafficManager.Data" minOccurs="0" name="ElementType" type="q1:ElementType" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FrameRate" type="tns:FrameRate" />
      <xs:element minOccurs="0" name="Repeat" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecondaryEvents" nillable="true" type="tns:ArrayOfPlaylistElementSecondaryEventData" />
      <xs:element minOccurs="0" name="StartMode" type="tns:StartMode" />
      <xs:element minOccurs="0" name="Support" nillable="true" type="tns:SupportData" />
      <xs:element minOccurs="0" name="TCIn" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaylistElementData" nillable="true" type="tns:PlaylistElementData" />
  <xs:complexType name="ArrayOfPlaylistElementSecondaryEventData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlaylistElementSecondaryEventData" nillable="true" type="tns:PlaylistElementSecondaryEventData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlaylistElementSecondaryEventData" nillable="true" type="tns:ArrayOfPlaylistElementSecondaryEventData" />
  <xs:complexType name="PlaylistElementSecondaryEventData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="ExtendedParam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Param" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryEventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TcOffsetType" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="TcStartOffset" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="TemplateFields" nillable="true" type="tns:ArrayOfTemplateFieldValueData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlaylistElementSecondaryEventData" nillable="true" type="tns:PlaylistElementSecondaryEventData" />
  <xs:simpleType name="StartMode">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
        </ActualType>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="FixedTime" />
      <xs:enumeration value="Manual" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StartMode" nillable="true" type="tns:StartMode" />
  <xs:simpleType name="PlayListType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Classic">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Block">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PlayListType" nillable="true" type="tns:PlayListType" />
  <xs:complexType name="VolumeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportsData" nillable="true" type="tns:ArrayOfSupportData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumeData" nillable="true" type="tns:VolumeData" />
  <xs:complexType name="ArrayOfSupportData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupportData" nillable="true" type="tns:SupportData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupportData" nillable="true" type="tns:ArrayOfSupportData" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateFields" nillable="true" type="tns:ArrayOfTemplateFieldData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfTemplateFieldData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TemplateFieldData" nillable="true" type="tns:TemplateFieldData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTemplateFieldData" nillable="true" type="tns:ArrayOfTemplateFieldData" />
</xs:schema>