PikoTrafficManager/Service References/DataPikoClient/PikoDataService.DB.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PikoDataService.DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PikoDataService.DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Segment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="Eom" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="SegmentId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Som" type="xs:unsignedLong" />
      <xs:element minOccurs="0" name="SupportId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Segment" nillable="true" type="tns:Segment" />
  <xs:complexType name="ArrayOfSegment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Segment" nillable="true" type="tns:Segment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSegment" nillable="true" type="tns:ArrayOfSegment" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastHasRunDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfDevices">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Devices" nillable="true" type="tns:Devices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDevices" nillable="true" type="tns:ArrayOfDevices" />
  <xs:complexType name="Devices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Devices" nillable="true" type="tns:Devices" />
  <xs:complexType name="Config">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasRunsId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportsId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" type="xs:unsignedLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Config" nillable="true" type="tns:Config" />
</xs:schema>